.welcome_nav {
    height: 50%;
    box-sizing: border-box;
    padding:40px 0;
    position: relative;
}
.nav_topic {
    background-color: #304f7d;
    height: 100%;
    color: #ffffff;
    padding: 0 55% 0 8%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
        font-size: 45px;
    }
    p {
        font-size: 16px;
        margin-top: 10px;
    }
}
.nav_label {
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 8%;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    background: conic-gradient(from 90deg, #304F7D, #E9E9E9);
      
}
.nav_icon {
    position: absolute;
    height: 100%;
    width: 46%;
    top: 0;
    right: 4%;
}