.welcome_upload_area {
    position: relative;
    height: 50%;
    padding: 0 8% 4% 8%;
    box-sizing: border-box;
}
.welcome_upload_div {
    height: 100%;
    padding: 0 8%;
    border-radius: 30px;
    background-image: linear-gradient(180deg, rgba(255,255,255,0.40) 0%, #FFFFFF 100%);
    border: 2px solid #304F7D;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    input {
        display: none;
    }
}
.welcome_upload_btn {
    height: 40Px; 
    border-radius: 40Px;
    padding: 0 60px;
    font-size: 24px;
    line-height: 40Px;
    color: #FFFFFF;
    background: #304f7d;
    cursor: pointer;
    &:hover {
        opacity: .8;
        transition: .2s;
    }
}
.welcome_upload_tip {
    color: #505050;
    margin-top: 10Px;
    font-size: 24px;
}
.welcome_upload_info {
    font-size: 18px;
    color: #505050;
    text-align: center;
    margin-top: 20Px;
    p{
        margin: 8px 0;
    }
} 
.upload_statement {
    width: 250px;
    position: absolute;
    bottom: 0;
    left: 9.4%;
    padding-bottom: 4%;
}
.statement__info {
    font-size: 11px;
    padding: 5px 10px;
    border: 1px solid #304F7D;
    p{
        hyphens: auto;
        -webkit-hyphens: auto;
        -ms-pyphens: auto;
        -moz-hyphens: auto;
        text-align: justify;
    }
}
.statement__declaration {
    width: fit-content;
    font-size: 12px;
    border-bottom: 1px solid black;
    cursor: pointer;
    &:hover{
        color: #304f7d ;
    }
}