$content-color: #4b0f31;
$font-color: #000000;
$bg-color: #EEEEEE;
$bg-box: #f5f5f5;
$iFile-bg-color: #dfc8ca;
$bt-bg-color: #d3394c;
$bt-hover-color: #722040;
$bt-disable-bg-color : #d3818a;
$progress-bg-color: #dbbabd;
// $font-family: PingFangSC-Regular;
$font-family: 'Assistant',Helvetica,Arial,Lucida,sans-serif;
$tip-color: #666666;
$font-semibold: 600;
$emphasis-black: #000000;
$emphasis-blue: #0000ff;
$font-white: #ffffff;
$font-size-xs: 11px;
$font-size-s: 14px;
$font-size-m: 28px;
$font-size-l: 32px;
$font-size-xl: 40px;
$font-color-tips: #aaaaaa;
$font-color-gray: #444444;
$line-color: #dddddd;
$box-border-radius: 5px;