.image_list_area {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    padding: 50px 8%;
    box-sizing: border-box;
}
.image_list {
    display: inline-block;
    // width: 90%;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding: 10px 20px;
    box-sizing: border-box;
}
.image_list_operation {
    display: inline-block;
    width: 10%;
    height: 100%;
    overflow: hidden;
    padding: 10px 5px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    input {
        display: none;
    }
}

.image_item {
    display: inline-block;
    width: 100px;
    height: 120px;
    text-align: center;
    overflow: hidden;
    margin: 0 10px;
    p {
        color: #9b9b9b;
        font-size: 12px;
    }
}
.image_preview {
    display: inline-block;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    overflow: hidden;
    // margin: 0 20px;
    background-color: #fff;
    border: 1px solid #979797;
}
// .image_preview:hover,
.image_preview_select {
    height: 48px;
    width: 48px;
    border: 2px solid #979797;
}

@mixin list_operation_icon {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: #d8d8d8;
    border: 1px solid #979797;
}
.list_clear_all , .list_delete{
    i {
        @include list_operation_icon();
    }
    font-size: 10px;
    margin: 5px 0;
    cursor: pointer;
}
.list_upload_more {
    position: absolute;
    bottom: 5px;
    left: 50%;
    width: 100%;
    margin-left: -50%;
    font-size: 10px;
    cursor: pointer;
    i {
        @include list_operation_icon();
    }
}