.image_list_area {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    padding-top: 35px;
    padding-bottom: 20px;
    box-sizing: border-box;
}
.image_list {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 10px 10px 10px 8%;
    overflow-y: auto;
    border-radius: 0 0 20px 20px;
    box-sizing: border-box;
}
.image_list_operation {
    display: inline-block;
    width: 10%;
    height: 100%;
    overflow: hidden;
    padding: 10px 5px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    input {
        display: none;
    }
}

.image_item {
    display: inline-block;
    text-align: center;
    overflow: hidden;
    margin-bottom: 40px;
}
.image_item_wrap {
    display: inline-block;
    width: 16%;
}
.image_item_name {
    font-size: 18px;
    color: #304f7d;
}
.image_item_size {
    font-size: 18px;
    color: #9b9b9b;
}
.image_preview {
    display: inline-block;
    height: 120px;
    width: 120px;
    border-radius: 120px;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #979797;
}
// .image_preview:hover,
.image_preview_select {
    height: 48px;
    width: 48px;
    border: 2px solid #979797;
}

@mixin list_operation_icon {
    display: inline-block;
    height: 20px;
    width: 20px;
    background-color: #d8d8d8;
    border: 1px solid #979797;
}
.list_clear_all , .list_delete{
    i {
        @include list_operation_icon();
    }
    font-size: 10px;
    margin: 5px 0;
    cursor: pointer;
}
.list_upload_more {
    position: absolute;
    bottom: 5px;
    left: 50%;
    width: 100%;
    margin-left: -50%;
    font-size: 10px;
    cursor: pointer;
    i {
        @include list_operation_icon();
    }
}