.main {
    width: 100%;
    height: 100%;
    overflow: auto;  
    background-image: linear-gradient(160deg, #D8E3E1 4%, rgba(80,80,80,0.17) 100%);
}
.main_header {
    height: 18%;
    display: flex;
    align-items: center;
    padding-left: 8%;
    i {
        display: inline-block;
        width: 40px;
        height: 40px;
        border-radius: 40px;
        background: conic-gradient(from 90deg, #304F7D, #E9E9E9);
    }
    h1 {
        display: inline-block;
        margin-left: 20px;
        font-size: 42px;
        font-style: italic;
        color: #304F7D;
    }
}
.main_list {
    border-radius: 20px;
    height: 70%;
    margin: 0 8%;
    border: 1px solid #304f7d;   
    position: relative;   
    background-color: #fff;
}
.main_list_header {
    color: #eeeeee;
    height: 35px;
    line-height: 35px;
    padding-left: 8%;
    border-radius: 20px 20px 0 0;
    background: linear-gradient(172deg, #304F7D, #E3E3E3);
}
.main_list_operation {
    position: absolute;
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    padding: 0 8%;
    bottom: -25px;
    box-sizing: border-box;
    input {
        display: none;
    }
}
@mixin main_list_operation_common {
    display: inline-block;
    height: 40px;
    line-height: 40px;
    border-radius: 40px;
    text-align: center;
    padding: 0 20px;
    margin: 0 10px;
    cursor: pointer;
}
.main_list_clear, .main_list_upload_more {
    @include main_list_operation_common();
    color: #304F7D;
    border: 1px solid #304f7d;
    background-color: #fff;
    position: absolute;
    left: 7%;
    &:hover {
        border-width: 2px;
    }
} 
.main_list_upload_more{
    left: 25%;
}
.main_list_clear_layer {
    @include main_list_operation_common();
    background-color: #fff;
}
.main_list_analysis {
    @include main_list_operation_common();
    position: absolute;
    width: 150px;
    right: 8%;
    color: rgb(5, 5, 5);
    background: linear-gradient(90deg, #304F7D, #DBDBDB);
    overflow: hidden;
    &:hover {
        transition: .2s;
        opacity: .8;
    }
}
.main_list_analysis_layer {
    @include main_list_operation_common();
    position: absolute;
    width: 150px;
    right: 8%;
    background-color: #fff;
}
.main_result_list { 
    border-radius: 20px;
    margin: 0 8%;
    border: 1px solid #304f7d;   
    position: relative;   
    background-color: #fff;
    margin-top: 60px;
}
.main_result_header {
    color: #102646;
    padding: 0 8%;
    margin: 10px 0;
    span {
        display: inline-block;
        width: 33%;
        text-align: center;
    }
}
.result_header_image {
    text-align: left !important;
}
.result_header_confidence {
    text-align: right !important;
}
@mixin result_item {
    display: inline-block;
    width: 33%;
}
.main_result_content {
    padding: 0 8%;
    display: flex;
    align-items: center;
    .image_item_wrap{
        @include result_item();
    }
    .image_item {
        box-sizing: border-box;
        padding-top: 25px;
        text-align: center;
        font-size: 18px;
        color: #666666;
    }
    .type_info {
        @include result_item();
        text-align: center;
        height: 30px;
        line-height: 30px;
        border-radius: 10px;
        color: #fff;
    }
    .confidence_info {
        @include result_item();
        color: #333333;
        text-align: right;
        box-sizing: border-box;
        padding-right: 35px;
    }
}
.main_result_download{
    @extend .main_list_analysis;
    transform: translateY(-50%);
}
.main_result_download_layer{
    @include main_list_operation_common();
    position: absolute;
    transform: translateY(-50%);
    right: 8%;
    width: 150px;
    background-color: #fff;
}